<!DOCTYPE html>
<html>
<head>
  <title>feedbk</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="shortcut icon"
 href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/feedbk-icon-40.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/feedbk-icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/feedbk-icon-120.png">
</head>
<body>
<%= render partial: "elements/navbar" %>

<div class="container mainContainer">
  <div class="text-center">
    <%= bootstrap_flash %>
  </div>


<%= yield %>
</div>
</body>
</html>
